#
# Accept the VMware End User License Agreement
vmaccepteula
#
# Set the root password for the DCUI and Tech Support Mode
rootpw --iscrypted {{.GuestPassword}}
#
# Install on first disk
install --firstdisk --overwritevmfs
#
# Set the network to DHCP on the first network adapter
network --bootproto=dhcp --device=vmnic0
reboot
#
%firstboot --interpreter=busybox
# Enable SSH
vim-cmd hostsvc/enable_ssh
vim-cmd hostsvc/start_ssh
#
# Create system user
echo '{{.GuestUser}}:x:1001:' >> /etc/group
echo '{{.GuestUser}}:x:1001:1001:{{.GuestUser}}:/:/bin/sh' >> /etc/passwd
echo '{{.GuestUser}}:{{.GuestPassword}}:18663:0:99999:7:::' >> /etc/shadow
#
# Update system user permission set
esxcli system permission set  -i {{.GuestUSer}} -r Admin
