#
## Sample scripted installation file
#
#
## Accept the VMware End User License Agreement
vmaccepteula

# Set the root password for the DCUI and Tech Support Mode
rootpw myp@ssw0rd
#
# # The install media is in the CD-ROM drive
install --firstdisk --overwritevmfs
#
# # Set the network to DHCP on the first network adapter
network --bootproto=dhcp --device=vmnic0
reboot

%firstboot --interpreter=busybox
vim-cmd hostsvc/enable_esx_shell
vim-cmd hostsvc/start_esx_shell
vim-cmd hostsvc/enable_ssh
vim-cmd hostsvc/start_ssh

# advanced settings
esxcli system settings advanced set -o /UserVars/SuppressShellWarning -i 1
esxcli system settings advanced set -o /Net/GuestIPHack -i 1
esxcli system settings advanced set -o /UserVars/ESXiShellInteractiveTimeOut -i 3600
  
# disable ipv6
esxcli system module parameters set -m tcpip3 -p ipv6=0

# disable firewall
esxcli network firewall set --enabled=false
 
# authorized keys
wget http://repo.home.local/artifactory/files/keys/id_rsa.pub -O /etc/ssh/keys-root/authorized_keys

# ntp configuration
cat << 'eof' > /etc/ntp.conf
restrict default kod nomodify notrap noquery nopeer
restrict 127.0.0.1
server 0.us.pool.ntp.org
server 1.us.pool.ntp.org
eof

/sbin/chkconfig ntpd on

#
# # A sample post-install script
# %post --interpreter=python --ignorefailure=true
# import time
# stampFile = open('/finished.stamp', mode='w')
# stampFile.write( time.asctime() )
